@page "/"
@inherits IndexComponent

@if (Error is not null)
{
    <p style="color: red"> Erro ao conectar com servidor: @Error </p>
}

<h3>Notifications</h3>
@foreach (var notification in Notifications)
{
    <p>[@notification.CreationDate] @notification.Message</p>
}